PORT=3000
DATABASE_URL=postgresql://postgres.lgexrocudfncwhipyzzx:xx0s7Rij55pVarVV@aws-0-eu-central-1.pooler.supabase.com:6543/postgres
DATABASE_SSL=true
PUBLIC_BASE_URL=http://localhost:3000
RESEND_API_KEY=
SETUP_EMAIL=rhosam.rhosam@gmail.com
SETUP_PASSWORD=Welcome@123
SESSION_HOURS=24